body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(202, 159, 95), rgb(154, 136, 64));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(0, 0, 50, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.input-section {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #cca86d;
    color: white;
}

button:hover {
    background: #cce267;
}

.weather-info {
    margin-top: 20px;
}